nav{
    padding: 32px 0;
    margin: 0px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid #666363 1px;
}

nav span{
   font-size: 40px; 
   font-weight: 700;
}

nav img{
    height: 60px;
    width: 60px;
    border: solid rgb(190, 190, 190) 1px;
    border-radius: 100%;
}